#
# This file determines resource inclusion order. Defining inclusion manually is required,
# as $.datepicker is not defined without jquery-ui.js, and hri.js refers to $.datepicker.
# (Order implicated: jquery-ui.js -> datepicker.js -> hri.js.)
#
# http://docs.ckan.org/en/ckan-2.1.2/resources.html
#
[main]

dont_bundle = jquery-ui.js
order = jquery-ui.js datepicker_fi.js hri.js