{% ckan_extends %}

{%- set wp_url = h.wordpress_url() -%}
{%- set base_url = h.url('/', qualified=true) -%}
{%- set hri_lang = base_url.split('/')[3] -%}

{% block header_wrapper %}
  {% block header_account %}
    
    {#- Using this helper read WordPress URL from the config file (ckan.ini). -#}
    {#- Let's also declare it as javascript variable, since our new header-functionality in hri.js requires it. -#}
    <script type="text/javascript">var wordpress_url = "{{ wp_url }}";</script>
    <script type="text/javascript">var HRI_LANG = "{{ hri_lang }}";</script>

    <header id="hri-header" class="hri-wrapper">

      {% if g.site_logo %}
        <a href="{{ h.url('home') }}" rel="home" ><img id="hri-logo" src="{{ h.url_for_static(g.site_logo) }}" alt="{{ g.site_title }} Logo" /></a>
      {% else %}
        <a id="hri-logo" href="{{ h.url('home') }}">{{ g.site_title }}</a>
      {% endif %}

      <div class="hri-header-content right">
        <nav id="hri-languages" class="right">
          <a href="/fi/">Suomeksi</a><span> |</span>
          <a href="/en/">Key points in English</a><span> |</span>
          <a href="/se/">Kort på svenska</a>
        </nav>

        <div id="hri-info" class="">
        </div>
      </div>
    </header>

    <div id="main-nav-wrap" {% if '/en/' in base_url %}class="en"{% endif %}>
      <div id="main-nav-c">
        <nav id="main-nav" class="hri-wrapper">
          <ul id="menu-main-navigation" class="menu">
            {%- if hri_lang == "fi" -%}
            <li id="menu-item-2201" class="data-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-2201"><a href="http://{{ wp_url }}/fi/dataset?q=&sort=metadata_created+desc" >Datahaku</a></li>
            <li id="menu-item-2207" class="application-parent menu-item menu-item-type-post_type menu-item-object-page menu-item-2207"><a href="http://{{ wp_url }}/fi/sovellukset/" >Sovellukset</a></li>
            <li id="menu-item-2116" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2116"><a href="http://{{ wp_url }}/fi/category/ajankohtaista/" >Ajankohtaista</a></li>
            <li id="menu-item-2206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2206"><a href="http://{{ wp_url }}/fi/avaa-dataa/" >Avaa dataa</a></li>
            <li id="menu-item-2209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2209"><a href="http://{{ wp_url }}/fi/kayta-dataa/" >Käytä dataa</a></li>
            <li id="menu-item-2187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2187"><a href="http://{{ wp_url }}/fi/mita-on-avoin-data/" >Mitä on avoin data</a></li>
            <li id="menu-item-2186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2186"><a title="Tietoja Helsinki Region Infosharesta ja avoimesta datasta" href="http://{{ wp_url }}/fi/hri-projekti/" >HRI-palvelu</a></li>
            {%- else -%}
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-674" id="menu-item-674"><a href="http://{{ wp_url }}/en/dataset?q=&amp;sort=metadata_created+desc">Data</a></li>
            <li id="menu-item-695" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-695"><a href="http://{{ wp_url }}/en/applications">Applications</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-391" id="menu-item-391"><a href="http://{{ wp_url }}/en/category/news/">News</a></li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-595" id="menu-item-595"><a href="http://{{ wp_url }}/en/open-data/">About Open Data</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390" id="menu-item-390"><a href="http://{{ wp_url }}/en/about/">About HRI</a></li>
            {%- endif -%}
            <li class="finish"></li>
          </ul>
        </nav>
      </div>
    </div>

    {% if c.userobj %}
      {{ super() }}
    {% else %}

    <header class="account-masthead">
      <div class="container">
        <div data-me="" data-module="me" class="account avatar" style="float: left;">
          <ul class="unstyled">
            {{ h.build_nav_main(
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')),
            ) }}
          </ul>
        </div>
      </div>
    </header>

    {% endif %}
    
  {% endblock %}
{% endblock %}

{% block header_account_logged %}
  {% if c.userobj %}
    
    {% if h.check_access('package_create') %}
      <li>
        {% link_for _('Add Dataset'), controller='package', action='new', icon='plus-sign-alt' %}
      </li>
    {% endif %}

    {{ h.build_nav_main(
      ('organizations_index', _('Organizations')),
      ('group_index', _('Groups')),
    )
    }}

    {% if c.userobj.sysadmin %}
      <li {% if c.apikey %}class="active"{% endif %}><a href="/{{ hri_lang }}/multiedit">{{ _('Multiedit') }}</a></li>

      <li>
        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
          <i class="icon-legal"></i>
        </a>
      </li>
    {% endif %}
    
    <li>
      <a href="{% if c.userobj.sysadmin %}{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}{% else %}javascript:void(0);{% endif %}" class="image" {% if c.userobj.sysadmin %}title="{{ _('View profile') }}"{% endif %}>
        {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
        <span class="username">{{ c.userobj.display_name }}</span>
      </a>
    </li>

    {% block header_account_log_out_link %}{{ super() }}{% endblock %}

  {% endif %}
{% endblock %}

{# Clearing all from these blocks #}
{% block header_site_navigation %}{% endblock %}
{% block header_account_notlogged %}{% endblock %}
{% block header_site_navigation_tabs %}{% endblock %}
{% block header_site_search  %}{% endblock %}
{% block header_logo %}{% endblock %}